 # ===================================== #
# Visual Studio / generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*/bin/*.*
*/obj/*.*
*.sln.*
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db 

# ============ #
# ETC Files	   #
# ============ #
patch.diff

